<table class="table table-bordered">
    <thead class="cabezera">
        <tr>
            <th>ID categoria</th>
            <th>Nombre categoria</th>
            <th>Imagen</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of listCategorias">
            <td>{{categoria.idCategory}}</td>
            <td>{{categoria.strCategory}}</td>
            <td><img [src]="categoria.strCategoryThumb" alt="{{ categoria.strCategory }}" width="100" height="100"></td>
            <td>{{categoria.strCategoryDescription}}</td>
        </tr>
    </tbody>
</table>